@inherits CookBook.Web.App.Pages.PageBase

<EditForm Model="@Data">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label class="w-100">
            Name
            <InputText @bind-Value="@Data.Name" class="form-control" />
            <small class="form-text text-danger">
                <ValidationMessage For="@(() => Data.Name)"/>
            </small>
        </label>
    </div>

    <div class="form-group">
        <label class="w-100">
            Description
            <InputTextArea @bind-Value="@Data.Description" class="form-control" />
            <small class="form-text text-danger">
                <ValidationMessage For="@(() => Data.Description)"/>
            </small>
        </label>
    </div>
	
    <div class="form-group">
        <label class="w-100">
            Image URL
            <InputText @bind-Value="@Data.ImageUrl" class="form-control" />
            <small class="form-text text-danger">
                <ValidationMessage For="@(() => Data.ImageUrl)"/>
            </small>
        </label>
        <img src="@Data.ImageUrl" height="100px"/>
        <small class="form-text text-danger">
            <ValidationMessage For="@(() => Data.ImageUrl)"/>
        </small>
    </div>

    <button type="submit" class="btn btn-success">
        Save
    </button>

    @if (Id != Guid.Empty)
    {
        <button class="btn btn-danger">
            Delete
        </button>
    }
</EditForm>
