@using CookBook.Models

<EditForm Model="@Data" OnValidSubmit="@Save"  >
    <DataAnnotationsValidator />

    <label>
        Name:
        <InputText @bind-Value="@Data.Name" />
        <ValidationMessage For="@(()=>Data.Name)"/>
    </label>

    <label>
        Description:
        <InputTextArea @bind-Value="@Data.Description" />
        <ValidationMessage For="(()=>Data.Description)" />
    </label>
    <button type="submit">Save</button>
    @if (Id != Guid.Empty)
    {
        <button @onclick="@Delete">Delete</button>
    }
</EditForm>


@code {
    [Parameter]
    public Guid Id { get; set; }
    
    [Parameter]
    public EventCallback OnModification { get; set; }

    public IngredientDetailModel Data { get; set; }

    [Inject]
    protected IIngredientsFacade IngredientsFacade { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id==Guid.Empty)
        {
            Data=new IngredientDetailModel();
        }
        else
        {
            Data = await IngredientsFacade.IngredientGetAsync(Id);
        }

        await base.OnInitializedAsync();
    }

    public async Task Save()
    {
        var resultId = await IngredientsFacade.SaveAsync(Data);
        if (OnModification.HasDelegate)
        {
            await OnModification.InvokeAsync(resultId);
        }
        Data=new IngredientDetailModel();
    }

    public async Task Delete()
    {
        await IngredientsFacade.DeleteAsync(Id);

        if (OnModification.HasDelegate)
        {
            await OnModification.InvokeAsync(null);
        }
    }

}
