@page "/ingredients"
@namespace CookBook.App.Web.Pages
@inherits PageBase
@layout ListLayout

<div class="row">
    <div class="col-md">
        <IngredientEditForm OnModification="@LoadData" />
        @*<EditForm Model="@IngredientNewModel" OnValidSubmit="@SaveNewIngredient">
            <DataAnnotationsValidator />

            <div class="form-group">
                <label class="w-100">
                    Name:
                    <InputText @bind-Value="@IngredientNewModel.Name" class="form-control" />
                    <small class="form-text text-danger">
                        <ValidationMessage For="@(() => IngredientNewModel.Name)"/>
                    </small>
                </label>
            </div>

            <div class="form-group">
                <label class="w-100">
                    Description:
                    <InputTextArea @bind-Value="@IngredientNewModel.Description" class="form-control" />
                    <small class="form-text text-danger">
                        <ValidationMessage For="@(() => IngredientNewModel.Description)"/>
                    </small>
                </label>
            </div>

            <button type="submit" class="btn btn-success">Save</button>
        </EditForm>*@
    </div>
    <div class="col-md">
        @if (Ingredients.Count != 0)
        {
            <table class="table border table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="row">Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ingredient in Ingredients)
                    {
                        <tr>
                            <td>
                                <NavLink href="@($"/ingredients/{ingredient.Id}")">@ingredient.Name</NavLink>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>