@page "/recipes"
@namespace CookBook.Web.App.Pages
@layout ListLayout
@inherits PageBase

<h1>Recipes</h1>

<div class="d-flex flex-wrap">
    @foreach (var recipe in Recipes)
    {

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@recipe.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">
                    @{
                        if (recipe.Id == Guid.Empty)
                        {
                            <span>@recipe.Name</span>
                        }
                        else
                        {
                            <NavLink href="@($"/recipe/{recipe.Id}")">@recipe.Name</NavLink>
                        }
                    }
                </h5>
                <p class="card-text">
                    @recipe.FoodType
                    @{
                        if (recipe.Id == Guid.Empty)
                        {
                            <p>Not Synced</p>
                        }
                    }
                </p>
            </div>
        </div>
    }
</div>