@model RecipeDetailViewModel

<div>
    <h1>@Model.RecipeDetail.Name</h1>
    <div>Doba trvání: @Model.RecipeDetail.Duration</div>
    <div>Popis: @Model.RecipeDetail.Description</div>

    <div>
        Ingredience:
        <ul>
            @foreach (var ingredient in Model.RecipeDetail.Ingredients)
            {

                <li>
                    <a asp-controller="Ingredient"
                       asp-action="Detail"
                       asp-route-id="@ingredient.IngredientId">@ingredient.Name</a>
                    @ingredient.Amount @ingredient.UnitText
                </li>
            }
        </ul>
    </div>
</div>