@page "/recipes"
@namespace CookBook.Web.App.Pages
@layout ListLayout
@using CookBook.Web.App.Extensions
@using CookBook.Web.App.Resources.Texts
@using Microsoft.Extensions.Localization
@inherits PageBase
@inject IStringLocalizer<RecipeListPageResources> RecipeListPageLocalizer

<h1>@RecipeListPageLocalizer["Page_Title"]</h1>

<table class="table border table-striped">
    <thead class="thead-light">
    <tr>
        <th scope="col">@RecipeListPageLocalizer["Image_TableHeader"]</th>
        <th scope="col">@RecipeListPageLocalizer["Name_TableHeader"]</th>
        <th scope="col">@RecipeListPageLocalizer["FoodType_TableHeader"]</th>
        <th scope="col">@RecipeListPageLocalizer["Note_TableHeader"]</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var recipe in Recipes)
        {
            <tr>
                <td style="vertical-align: central">
                    <img src="@recipe.ImageUrl" height="50"/>
                </td>
                <td>
                    @{
                        if (recipe.Id == Guid.Empty)
                        {
                            <span>@recipe.Name</span>
                        }
                        else
                        {
                            <NavLink href="@($"/recipe/{recipe.Id}")">@recipe.Name</NavLink>
                        }
                    }
                </td>
                <td>@recipe.FoodType.GetReadableName()</td>
                <td>
                    @{
                        if (recipe.Id == Guid.Empty)
                        {
                            <span>Not Synced</span>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <OnlineStatusIndicator>
        <OnlineFragment>
            <NavLink href="@("/recipe/create")" class="btn btn-primary">
                @RecipeListPageLocalizer["CreateNewRecipe_Button"]
            </NavLink>
        </OnlineFragment>
        <OfflineFragment>
            <h1>You are offline. Cannot create new recipe when offline!</h1>
        </OfflineFragment>
    </OnlineStatusIndicator>
</div>