@page "/recipes"
@namespace CookBook.Web.App.Pages
@layout ListLayout
@using CookBook.Web.App.Extensions
@using CookBook.Web.App.Resources.Texts
@using Microsoft.Extensions.Localization
@inherits PageBase
@inject IStringLocalizer<RecipeListPageResources> RecipeListPageLocalizer


<div class="d-flex flex-row justify-content-between align-items-center mb-4" >
    <h1>@RecipeListPageLocalizer["Page_Title"]</h1>

    <div class="text-center">
        <OnlineStatusIndicator>
            <OnlineFragment>
                <NavLink href="@("/recipe/create")" class="btn btn-success">
                    @RecipeListPageLocalizer["CreateNewRecipe_Button"]
                </NavLink>
            </OnlineFragment>
            <OfflineFragment>
                <h1>You are offline. Cannot create new recipe when offline!</h1>
            </OfflineFragment>
        </OnlineStatusIndicator>
    </div>
</div>

<div class="d-flex flex-wrap">
    @foreach (var recipe in Recipes)
    {

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@recipe.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">
                    @{
                        if (recipe.Id == Guid.Empty)
                        {
                            <span>@recipe.Name</span>
                        }
                        else
                        {
                            <NavLink href="@($"/recipe/{recipe.Id}")">@recipe.Name</NavLink>
                        }
                    }
                </h5>
                <p class="card-text">
                    @recipe.FoodType.GetReadableName()
                        @{
                        if (recipe.Id == Guid.Empty)
                        {
                            <p>Not Synced</p>
                        }
                    }
                </p>
            </div>
        </div>
    }
</div>